<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/adminpanelmain.html">

<div class="col-7" layout:fragment="adminpanel_content">

    <div class="alert alert-success alert-dismissible fade show" th:if="${condition!=null && condition=='success'}" role="alert">
        Edit done successfully!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" th:if="${condition!=null && condition=='error'}" role="alert">
        Edit failed!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <h1 class="justify-content-center mb-5 offset-5">Role</h1>
    <div class="form-group">
        <table class="table table-striped">
            <tbody>
            <tr th:each="user_role:${User.getRoles()}">
                <form th:action="@{'/removerole'}" method="post" th:id="deleterole+${user_role.getId()}">
                    <input type="hidden" th:value="${User.getId()}" name="id">
                    <input type="hidden" th:value="${user_role.getId()}" name="role_id">
                    <td th:text="${user_role.getName()}"></td>
                    <td width="10%">
                        <button th:form="deleterole+${user_role.getId()}" type="submit" class="btn btn-danger btn-sm">-</button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <table class="table table-striped">
            <tbody>
            <tr th:each="role:${AllRoles}" th:if="${!User.getRoles().contains(role)}">
                <form th:action="@{'/assignrole'}" method="post" th:id="role+${role.id}">
                    <input type="hidden" th:value="${User.getId()}" name="id">
                    <input type="hidden" th:value="${role.getId()}" name="role_id">
                    <td th:text="${role.name}"></td>
                    <td width="10%">
                        <button th:form="role+${role.id}" type="submit" class="btn btn-success btn-sm">+</button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
    <h1 class="justify-content-center mb-5 offset-4">Profile data</h1>

    <form th:action="@{'/updateprofileByAdmin'}" class="mb-5" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address:</label>
            <input type="email" name="user_email" class="form-control" required id="exampleInputEmail1" th:value="${User.getEmail()}">
        </div>
        <div class="form-group">
            <label for="exampleInputFullName">FullName:</label>
            <input type="text" class="form-control" name="user_full_name" id="exampleInputFullName" th:value="${User.getFullName()}">
        </div>
        <input type="hidden" name="id" th:value="${User.getId()}">
        <button type="submit" class="btn btn-primary float-right">Update Profile</button>

    </form>

    <form th:action="@{'/updatepasswordByAdmin'}" method="post">
        <input type="hidden" name="id" th:value="${User.getId()}">
        <div class="form-group">
            <label for="exampleInputPassword1">Old Password:</label>
            <input type="text" readonly name="old_password" class="form-control" required id="exampleInputPassword1" th:value="${User.getPassword()}">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword2">New Password:</label>
            <input type="password" name="new_password" class="form-control" required id="exampleInputPassword2" placeholder="New Password">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword3">Retype New Password:</label>
            <input type="password" name="re_new_password" class="form-control" required id="exampleInputPassword3" placeholder="Retype New Password">
        </div>

        <button type="submit" class="btn btn-primary float-right">Update Password</button>


    </form>

</div>
