<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorator="layout/main.html">

<div layout:fragment="site_content">

    <div class="card mb-0">
        <img th:src="@{${item.largePicURL}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" th:text="${item.name}"></h5>
            <h5 class="card-title" th:text="${item.price}+' $'"></h5>
            <p class="card-text" th:text="${item.description}"></p>
            <p class="font-weight-bold">Brand: <a th:href="@{/search(brand=${item.brand.id})}"
                                                  class="text-decoration-none" th:text="${item.brand.getName()}"></a>,
                <a href="#" class="text-decoration-none" th:text="${item.brand.countries.getName()}"></a></p>
        </div>
        <div class="row justify-content-center">
            <h5>Screenshots</h5>
        </div>

        <div class="row justify-content-center mb-6">
            <div th:each="picture: ${Pictures}">
                <img th:src="@{'/viewitemphoto/'+${picture.getUrl()}}" alt="ошибка" class="my-2" style="height: 200px;">
            </div>
        </div>
        <div class="card-footer">
            <link rel="stylesheet"
                  th:href="@{'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'}">

            <span class="fa fa-star checked" th:each="i : ${#numbers.sequence( 1,item.getStars(),1)}"></span>
            <style>
                .checked {
                    color: orange;
                }
            </style>
        </div>
    </div>
    <form th:action="@{'/tobasket'}" method="post">
        <input type="hidden" name="item_id" th:value="${item.id}">
        <button type="submit" class="btn btn-success my-2 bd-highlight">Add To Basket</button></form>

    <form sec:authorize="isAuthenticated()" th:action="@{'/addcomment'}" method="post">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Comment:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment" required></textarea>
        </div>
        <div class="form-group d-flex justify-content-end">
            <input type="hidden" name="item_id" th:value="${item.id}">
            <input type="hidden" name="user_id" th:value="${currentUser.id}">
            <button type="submit" class="btn btn-primary my-1 bd-highlight">Add Comment</button></div>
    </form>
    <div class="card">
        <ul class="list-group list-group-flush" th:each="comment:${Comments}">
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <h5 th:text="${comment.getAuthor().getFullName()}"></h5>
                    <p th:text="${#strings.substring(comment.addedDate,0,16)}"></p>
                </div>
                <div class="d-flex justify-content-between">
                    <p th:text="${comment.comment}"></p>
                    <div>
                        <button th:if="${comment.getAuthor()==currentUser}" type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal"
                                th:data-target="'#Modal'+${comment.id}" data-whatever="Name of comment...">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                        </svg>
                        </button>

                        <div class="modal fade" th:id="Modal+${comment.id}" tabindex="-1" role="dialog" th:aria-labelledby="ModalLabel+${comment.id}"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" th:id="ModalLabel+${comment.id}">Edit</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{'/editcomment'}" method="post">
                                            <div class="form-group">
                                                <label class="col-form-label">Comment:</label>
                                                <textarea class="form-control" name="comment" th:text="${comment.comment}"></textarea>
                                                <input type="hidden" name="comment_id" th:value="${comment.id}">
                                                <input type="hidden" name="item_id" th:value="${item.id}">
                                            </div>
                                            <hr>
                                            <div class="nav justify-content-end">
                                                <button type="submit" class="btn btn-primary btn-sm">ADD</button>
                                                <button type="button" class="btn btn-secondary ml-sm-1 btn-sm"
                                                        data-dismiss="modal">CANCEL
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <button sec:authorize="hasRole('ROLE_ADMIN')" type="submit" th:form="commentminus+${comment.id}" class="btn btn-outline-danger btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                        </svg>
                        </button>
                        <button sec:authorize="hasAnyRole('ROLE_MODER','ROLE_USER')" th:if="${comment.getAuthor()==currentUser}" type="submit" th:form="commentminus+${comment.id}" class="btn btn-outline-danger btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                            </svg>
                        </button>
                        <form th:id="commentminus+${comment.id}" th:action="@{'/deletecomment'}" method="post">
                            <input type="hidden" name="comment_id" th:value="${comment.id}">
                            <input type="hidden" name="item_id" th:value="${item.id}">
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>
